<section class='filters'>
  <div class='first-row'>
    {{partial 'pulls/orgs'}}
    {{partial 'pulls/filters'}}
  </div>

  <div class='second-row'>
    {{partial 'pulls/repos'}}
  </div>
</section>

<section class='main-title'>
  <div>
    <h3>Pending Pull Requests</h3>
  </div>
</section>

