<div class='orgs'>
  <div class='row'>
    <div class='label-container'>
      <label>Organization:</label>
    </div>
    <div class='orgs-dropdown-container'>
      {{view Em.Select content=orgs valueBinding='org'
      optionValuePath='content.name' optionLabelPath='content.name'
      class='orgs-dropdown'}}
    </div>
  </div>
</div>

