<div class='repos'>
  <div class='label-container'>
    <label>Repository:</label>
  </div>
  <div class='repos-filter-container'>
    {{view Em.ChosenSelect
      content=repos
      optionValuePath='content.full_name'
      optionLabelPath='content.full_name'
      multiple=true
      chosenSelectionBinding='selectedRepos'
      class='repos-filter form-control'
      chosenClass='repos-filter'
      placeholder='Choose some Repos'}}
  </div>
</div>

