<div class='col-lg-5 col-xs-12 col-sm-8 col-md-6 pull-right'>
  <div class='col-lg-3 col-xs-12 col-sm-4 col-md-3'>
    <label>Repository:</label>
  </div>
  <div class='col-lg-9 col-xs-12 col-sm-8 col-md-9'>
    {{view Em.ChosenSelect
      content=repos
      optionValuePath='content.full_name'
      optionLabelPath='content.full_name'
      multiple=true
      chosenSelectionBinding='selectedRepos'
      class='repos-filter form-control'
      chosenClass='repos-filter'
      placeholder='Choose some Repos'}}
  </div>
</div>

