@import 'diffs'
@import 'header'
@import 'table'

.navbar-custom
  li
    display: inline-block
    line-height: 40px

    a:hover
      background-color: transparent
      text-decoration: underline

