%footer
  .container
    .row
      .logo
        = image_tag 'crowd_logo.png'
      .slogan
        Because doing it on 
        %a{ href: 'https://github.com', target: '_blank' }Github 
        is too mainstream!
