%footer
  .container
    .row
      .col-lg-1.col-md-1.col-sm-2.col-xs-3
        = image_tag 'crowd_logo.png', class: 'crowd-logo'
      .col-lg-11.col-md-11.col-sm-10.col-xs-9.slogan
        Because doing it on 
        %a{ href: 'https://github.com', target: '_blank' }Github 
        is too mainstream!
