.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: "../"} PR Dashboard
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li= link_to 'Dashboard', dashboard_path
          %li= link_to 'Logout', signout_path
        - else
          %li= link_to 'Login', '/auth/github'

