%header
  .container
    .title
      .brand
        %a{ href: "../" } PR Dashboard
    .menu
      %nav
        - if current_user
          %li= link_to 'Dashboard', dashboard_path
          %li= link_to 'Logout', signout_path
        - else
          %li= link_to 'Login', '/auth/github'

