html
  min-height: 100%
  position: relative

body
  margin-bottom: 50px

  .container-fluid
    padding-top: 80px


footer
  background-color: #2C3E50
  border-color: #2C3E50
  bottom: 0
  color: #FFF
  height: 50px
  position: absolute
  width: 100%

  .logo
    @extend .col-lg-1
    @extend .col-md-1
    @extend .col-sm-2
    @extend .col-xs-3

    img
      padding-top: 10px

  .slogan
    @extend .col-lg-11
    @extend .col-md-11
    @extend .col-sm-10
    @extend .col-xs-9

    font-size: 1em
    line-height: 50px


